/*Comentario*/
.Comment{
  display: flex;
  padding-bottom: 5px;
} 

/* essa li é para (avatar/nome) e (text) */
.Comment li{
  margin-left: 10px;
  width: 622px;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  background: rgb(228, 224, 224);
}

/* essa div é para o texto */
.CommentText{
  font-size: 13px;
  line-height: 20px;
  color: #3E3E3E;
}